.bg-footer {
    background-image: url("/public/assets/footer/background-contact.png");
    padding-top: 100px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.content-contact{
    width: 350px;
}

.judul-footer{
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.isi-footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.isi1-footer{
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
